body {
  background-color: #7eb1b3;
}

h1 {
  font-family: Lobster, cursive;
  color: #ffd7a7;
  font-size: 3em;
}

img {
  display: inline;
}

div {
  display: inline;
  margin-bottom: 30px;
}

input {
  display: block;
}

#choose_item {
  padding: 5% 5% 10%;
  background-image: url('../images/vend.png');
  background-size: 500px 720px;
  background-repeat: no-repeat;
}

#spaceraider {
  clear: left;
}

#add_coins {
/*  float: left;
  margin-left: 60%;*/
}

#items {
  clear: left;
  float: left;
}

#coins {
  float: left;
}

#coins img {
  display: inline;
}

