body {
  background-color: #7eb1b3;
}

h1 {
  font-family: Lobster, cursive;
  color: #ffd7a7;
  font-size: 3em;
}

img {
  display: block;
}

div {
  float: left;
  margin-bottom: 30px;
}

#add_coins {
  float: left;
}

#items {
  clear: left;
}